:root {
  --text-black: #303133;
  --text-gray: #909399;
  --text-link: #0366d6;
  --bg-white: #f2f3f8;
  --bg-dark: #474444;
  --bg-darken: #3d3b3b;
  --wrapper-width: 920px;
  --shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
}

::-moz-selection {
  color: #fff;
  background: var(--text-link);
  text-shadow: none;
}

::selection {
  color: #fff;
  background: var(--text-link);
  text-shadow: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text-black);
  background-color: var(--bg-white);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(201, 195, 195, 0.329) 25%,
      rgba(209, 201, 201, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(209, 204, 204, 0.185) 75%,
      rgba(180, 176, 176, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(204, 196, 196, 0.226) 25%,
      rgba(172, 165, 165, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(209, 204, 204, 0.185) 75%,
      rgba(180, 176, 176, 0.05) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
  overflow-x: hidden;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease;
}

.wrapper {
  width: 92%;
  margin: 0 auto;
  max-width: var(--wrapper-width);
}

.header {
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 1rem 0;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-list-item.active {
  font-weight: bold;
}

.nav-list-item:hover {
  font-weight: bold;
}

.nav-list-link {
  font-size: 0.8rem;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .header .title {
    font-size: 0.9rem;
  }

  .nav-list-link {
    font-size: 0.7rem;
  }
}

.main {
  flex: 1;
}

.card {
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffffff;
}

.post-anchor {
  display: block;
  padding-bottom: 0.5rem;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .post-title {
    font-size: 1rem;
  }

  .list-unstyled {
    font-size: 0.9rem;
  }
}

.pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

/* img */
img {
  width: 100%;
  line-height: 0;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

/* article */
.article {
  margin: 1.5rem 0;
  padding: 2rem 4% 1rem 4%;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.article-title {
  margin-top: 0;
}

.article-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.meta-info {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 1rem;
}

.meta-info span {
  padding-right: 1em;
}

.article-content a {
  color: #08c;
  text-decoration: none;
}

.article-toc {
  position: fixed;
  top: 1.5rem;
  left: calc(50% + (var(--wrapper-width) / 2) + 1rem);
  min-width: 200px;
  font-size: 0.9rem;
}

.article-toc ol {
  margin: 0;
  padding-left: 1em;
}

@media screen and (max-width: 768px) {
  .article-meta {
    font-size: 0.8rem;
  }
  .article-toc {
    display: none;
  }
}

/* tags */

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tag-item {
  padding: 2px 6px;
  margin-right: 10px;
  margin-bottom: 6px;
  font-style: italic;
  background-color: #ffffff;
}

.tag-list {
  margin: 0;
}

.tag-post-title {
  display: block;
}

.tag-post-title p {
  margin: 0.5rem 0;
}

.tag-post-title:last-of-type p {
  margin-bottom: 0;
}

/* archives */
.archives {
  padding: 0;
}

.archives li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--text-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.loader svg {
  width: 3.75em;
  animation: 1.5s spin ease infinite;
}

.loader .ring {
  fill: none;
  stroke: var(--text-gray);
  stroke-width: 1;
}

.loader .ball {
  fill: var(--text-gray);
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* comment */
/* .comment {
  min-height: 300px;
} */

/* search-form */
.search-form {
  border-bottom: 1px solid var(--text-gray);
}

.search-form-input {
  width: 100%;
  border: none;
  outline: none;
  height: 2rem;
  padding-left: 7px;
  border-radius: 2px;
}

/* project-list */
.project-link {
  display: block;
}

.link-disabled {
  pointer-events: none;
  color: var(--text-gray);
}

/* animate */
.slide-in-right {
  animation: slideInRight 0.3s linear both;
}

.animate-list__title {
  margin-top: 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .animate-list__title {
    font-size: 1rem;
  }
}

.animate-list__desc {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 0.9em;
}

.animate-list li:nth-of-type(1) {
  animation-delay: 0.1s;
}

.animate-list li:nth-of-type(2) {
  animation-delay: 0.15s;
}

.animate-list li:nth-of-type(3) {
  animation-delay: 0.2s;
}

.animate-list li:nth-of-type(4) {
  animation-delay: 0.25s;
}

.animate-list li:nth-of-type(5) {
  animation-delay: 0.3s;
}

.animate-list li:nth-of-type(6) {
  animation-delay: 0.35s;
}

.animate-list li:nth-of-type(7) {
  animation-delay: 0.4s;
}

.animate-list li:nth-of-type(8) {
  animation-delay: 0.45s;
}

@keyframes slideInRight {
  from {
    transform: translate3d(1%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* paginator */
.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.paginator .page-number {
  width: 2rem;
  display: inline-block;
  text-align: center;
}
.page-number.current {
  pointer-events: none;
  color: var(--text-gray);
}

.paginator .extend {
  flex: 1;
}

.paginator .extend.next {
  text-align: right;
}

.tag-name,
.category-name,
.archive-name {
  font-weight: 600;
  margin-top: 0;
}

.archive-date {
  font-style: italic;
  padding-right: 0.5rem;
}

/* footer */
.footer {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .theme-link {
  text-decoration: underline;
}

.post-info {
  flex: 1;
}

.meta-tag {
  padding: 0 3px;
}

.post-time {
  padding: 0 3px;
}

.read-more {
  margin-left: 1em;
}

/* back-to-top */
.back-to-top {
  position: fixed;
  bottom: 5vw;
  left: calc(50% + (var(--wrapper-width) / 2) + 1rem);
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.3s;
  padding: 8px 12px;
  cursor: pointer;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
}

/* archive-list */
.archive-list {
  padding-left: 1em;
}

/* index-content */
.index-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.index-post-list {
  flex: 1;
  margin-right: 1rem;
}

.index-aside {
  width: 200px;
  min-width: 200px;
}

@media screen and (max-width: 768px) {
  .index-post-list {
    width: 100%;
    margin: 0;
  }

  .index-aside {
    display: none;
  }
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 311px;
}

.about-links {
  margin: 0;
}

.avatar {
  width: 180px;
  text-align: center;
}

.avatar-img {
  border-radius: 50%;
}

.author {
  padding: 0;
}

.author .info {
  padding: 1rem;
}

.username {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: normal;
}

.subtitle {
  margin: 6px 0;
  font-size: 0.8rem;
}

.about-link {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid var(--text-black);
}

.aside-tags .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.aside-tags .tag-item {
  padding: 4px 6px;
  margin-right: 4px;
  font-size: 0.7rem;
  border-radius: 2px;
  background-color: var(--bg-white);
}

.prelude {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 999;
}

/* dark */
@media (prefers-color-scheme: dark) {
  body,
  .search-form-input {
    color: #ffffff;
    background-color: var(--bg-dark);
  }

  .card,
  .header,
  .footer,
  .navbar,
  .article,
  .tag-item,
  .aside-tags .tag-item {
    background-color: var(--bg-darken);
  }

  .search-form {
    border-color: #fff;
  }

  .navbar a {
    color: #ffffff;
  }

  .hover-underline-animation::after {
    background-color: #ffffff;
  }
}

/* code  */
pre {
  font-size: 0.8rem;
  border-radius: 2px;
  overflow: auto;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

code {
  padding: 0 4px;
  word-wrap: normal;
  word-break: keep-all;
  white-space: pre;
}

/* shadow */
.card,
.header,
.footer,
.article,
.avatar-img {
  box-shadow: var(--shadow);
}

.utterances {
  max-width: var(--wrapper-width);
}
