---
layout: layout
---

<ul class="list-unstyled animate-list">
   <li class="animate-list__item card slide-in-right">
	  <a class="animate-list__link" href="https://flutterworld.site/" rel='noopener' target="_blank">
	  	<h2 class="animate-list__title hover-underline-animation">Project Title</h2>
	  	<p class="animate-list__desc">project description</p>
	  </a>
   </li>
</ul>
