<footer class="footer">
  <div class="footer-content wrapper">
    <p>Copyright &copy; 2019 <a class="theme-link" href="https://github.com/xrr2016/hexo-theme-cold-stone" target="_blank">Theme Cold Stone</a>  </p>
  </div>
</footer>

<%- partial('_partial/variable', null, {cache: false}) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
<%- js('scripts/cold-stone.js') %>

<% if(config.track.gaid) { %>
  <script src=https://www.googletagmanager.com/gtag/js?id=<%= config.track.gaid %>"></script>
  <script>
  // google analytics
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', window.COLD_STONE.gaid)
  </script>
<% } %>

