<footer class="footer">
  <p>Copyright &copy; <a href="/">coldstone.fun</a> 2019</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
<%- js('scripts/cold-stone.js') %>

<script src=https://www.googletagmanager.com/gtag/js?id=UA-119658292-2"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'UA-119658292-2')
</script>
