<footer class="footer">
  <div class="footer-content wrapper">
    <p>
      Copyright &copy; 2019
      <a
        class="theme-link"
        rel="noopener"
        href="https://github.com/xrr2016/hexo-theme-cold-stone"
        target="_blank"
        >Theme Cold Stone</a
      >
    </p>
  </div>
</footer>
