<footer class="footer">
  <p>Copyright &copy; <a href="/"><%= config['url'] %></a> 2019</p>
</footer>

<%- partial('_partial/variable', null, {cache: false}) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
<%- js('scripts/cold-stone.js') %>

<% if(config.track.gaid) { %>
  <script src=https://www.googletagmanager.com/gtag/js?id=<%= config.track.gaid %>"></script>
  <script>
  // google analytics
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', window.COLD_STONE.gaid)
  </script>
<% } %>

