<section class="card">
    <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form" target="_blank">
      <input type="search" name="q" class="search-form-input" placeholder="<%- __('search') %>">
      <input type="hidden" name="sitesearch" value="<%= config.url %>">
   </form>
</section>
