<div class="card">
	<form class="search-form" action="https://www.google.com/search" target="_blank">
		<input class="search-input" placeholder="ðŸ”æœç´¢" maxlength="40" name="q" />
		<input type='hidden' name='sitesearch' value="<%= config.url %>" />
	</form>
</div>
